body { background-color: antiquewhite;
       text-align: center;
       font-family:'Courier'
}

#sum {background-color: blue;
color:azure;
border-radius:8px;
padding: 10 px 20 px }

#rest {background-color: red;
       color:azure;
       border-radius:8px;
       padding: 10 px 20 px }

#mult {background-color: green;
              color:azure;
              border-radius:8px;
              padding: 10 px 20 px }   

#div {background-color: yellow;
              color:azure;
              border-radius:8px;
              padding: 10 px 20 px }